input {
    border: none;
    outline: none;
}

body {
    background-color: gray;
}

.priceBackground {
    width: 800px;
    height: 400px;
    background-color: #ff7f50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 20px;
}

.userPriceBlock {
    position: relative;
    top: 50%;
    left: 150px;
    transform: translate(0, -50%);
}

.priceName {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.userInput {
    border: 2px solid #000000;
    border-radius: 7px;
    width: 300px;
    height: 30px;
    margin-left: 20px;
}

.inputBorderGreen {
    border-color: #008000;
}

.noCorrectNumber {
    display: block;
    margin-left: 110px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.buttonStyle {
    width: 25px;
    border: 2px solid #000000;
    border-radius: 7px;
    background-color: #85bb65;
    box-shadow: 0 0 2px;
}

.userPriceNewItem {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 105px;
    padding: 3px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    margin-bottom: 10px;
}