/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* navigation */

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 412px;
    margin: 0 auto;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}

.main-navigation {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding-right: 72px;
    text-decoration: none;
    color: #FF0000;
}

.button-three {
    padding-left: 72>50px;
}


/* main-content */

.photo {
    width: 100%;
    margin: 0 auto;
}

.text-title {
    width: 774px;
    margin: 0 auto;
    text-align: center;
    height: 29px;
    margin-top: 49px;
    margin-bottom: 38px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.text-description {
    width: 1145px;
    margin: 0 auto;
    text-align: center;
    margin-top: 28px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.button-style {
    width: 191px;
    margin: 0 auto;
    height: 51px;
    margin-top: 66px;
    background: #FF0000;
    border-radius: 4px;
    padding-left: 0;
    cursor: pointer;
}

.button-text {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}


/* footer */

.final {
    width: 472px;
    height: 39px;
    margin-right: 105px;
    margin-left: auto;
    margin-top: 82px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}