body {
    background-image: url(../img/background.png);
    width: 100%;
    font-family: Ubuntu;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 324px;
}


/* header */

.head-block {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
}

.logo {
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin-left: 72px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
}

.block-registration {
    display: flex;
    margin-right: 72px;
}

.icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.icons-style {
    display: block;
    width: 23px;
    height: 23px;
    -webkit-transition: 0.5s ease;
}

.registration {
    display: flex;
    align-items: center;
    margin-left: 27px;
}

.text-style {
    =display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
    margin-right: 4px;
}

.text-color {
    display: block;
    color: #3CB878;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
}

.text-color-size {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
}

.text-color-size::before {
    content: url('../img/shape.png');
    width: 18px;
    position: absolute;
    left: 0px;
}

.text-style-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 4px;
    -webkit-transition: 0.5s ease;
}


/* main */

.registration-content {
    position: absolute;
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    margin: auto;
    left: 0px;
    top: 58px;
    right: 0px;
    bottom: 0px;
}

.registration-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
}


/* buttons 'Face'&'Google' */

.button-block {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;
}

.button-style {
    width: 160px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    position: relative;
}

.button-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.image-facebook {
    display: block;
    margin-left: 17px;
}

.image-google {
    display: block;
    margin-left: 12px;
}

.button-text-style {
    display: block;
    =font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 38px;
}

.text-style-face::before {
    content: url('../img/button/face-line.png');
    position: absolute;
    left: 48px;
    top: 10px;
}

.text-style-google::before {
    content: url('../img/button/google-line.png');
    position: absolute;
    left: 48px;
    top: 10px;
}

.button-blue {
    background: #305DB8;
    -webkit-transition: 0.5s ease;
}

.button-red {
    background: #DF4A32;
    -webkit-transition: 0.5s ease;
}

.or-element {
    text-align: center;
    margin-top: 31px;
    height: 100%;
}


/* or */

.or-element::before {
    content: url('../img/or-line.png');
    margin-right: 2px;
    position: absolute;
    top: 142px;
    right: 61px;
}

.or-element::after {
    content: url('../img/or-line.png');
    margin-left: 2px;
    position: absolute;
    top: 142px;
    left: 61px;
}

.text-grey {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}


/* forms */

.forms {
    position: relative;
}

.field {
    width: 324px;
    height: 46px;
    margin-top: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    =font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    -webkit-transition: 0.5s ease;
}


/* check */

.check-position {
    display: block;
    border: 1px solid #01813F;
    margin-top: 12px;
    position: absolute;
    top: 306px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
}

.check-style {
    display: block;
    margin-top: 12px;
    margin-left: 30px;
    =font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.checkmark:after {
    content: url("../img/click.svg");
    position: absolute;
    display: none;
}

.checkin input:checked~.checkmark:after {
    display: block;
    left: 2px;
    top: 1px;
}

.check-style:hover .check-text-grin {
    color: #01813F;
    text-decoration: underline;
    cursor: pointer;
}

.check-text-grin {
    color: #3CB878;
    text-decoration: none;
}

.checkmark {
    position: absolute;
    top: 312px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
}


/* button */

.button-finish {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    margin-top: 20px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    -webkit-transition: 0.5s ease;
}


/* hovers */

.text-color-size:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s;
}

.text-color:hover {
    color: #01813F;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s;
}

.text-style-link:hover {
    color: #01813F;
    cursor: pointer;
    transition: 0.3s;
}

.icons-style:hover {
    fill: #01813F;
    cursor: pointer;
    transition: 0.1s;
}

.logo:hover {
    color: #01813F;
    cursor: pointer;
    transition: 0.3s;
}

.button-blue:hover {
    background: #022263;
    cursor: pointer;
    transition: 0.3s;
}

.button-red:hover {
    background: #AB1F09;
    cursor: pointer;
    transition: 0.3s;
}

.field:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    transition: 0.3s;
}

.checkin:hover {
    cursor: pointer;
}

.button-finish:hover {
    background: #01813F;
    cursor: pointer;
    transition: 0.3s;
}