body {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.perspective-effect {
    transform: perspective(250px) rotateX(25deg);
    text-align: center;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
}

.description {
    background-color: #000;
    animation: mymove 15s infinite;
    animation-timing-function: linear;
}

.text-style {
    font-family: Open Sans;
    color: #face2f;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    margin-top: 65px;
}

.text-head {
    font-size: 70px;
}

.barrier {
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 1) 50%);
    position: absolute;
    top: 0px;
    left: 0px;
}

@keyframes mymove {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}