html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Roboto; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1270px; }

.title-style {
  color: #4E4E4E;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 4%; }

.navigation-img {
  background: url("../../dist/img/header-img.png");
  width: 92%;
  margin-left: 4%; }

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 54px; }

.navigation-item {
  font-size: 11px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #4E4E4E;
  text-decoration: none;
  margin-left: 34px;
  margin-right: 34px; }

.navigation-item:hover {
  color: #57A4A4; }

@media screen and (max-width: 996px) {
  .navigation-item {
    margin-left: 17px;
    margin-right: 17px; } }

@media screen and (max-width: 700px) {
  .navigation-item {
    margin-left: 10px;
    margin-right: 10px; } }

@media screen and (max-width: 485px) {
  .header__navigation {
    display: none; }
  .navigation-img {
    margin-top: 83px; } }

.posts-block {
  padding-top: 66px;
  padding-bottom: 60px; }

.posts-block-all {
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 92%;
  margin-left: 4%; }

.posts-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px; }

.post-content {
  grid-column-start: 2;
  grid-column-end: 4; }

.post-item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px; }

.post-item-comments {
  font-size: 12px;
  line-height: 20px;
  color: #7C7C7C; }

.post-description {
  font-size: 13px;
  line-height: 26px;
  color: #5C5C5C;
  margin-top: 13px; }

@media screen and (max-width: 996px) {
  .posts-block {
    padding-top: 56px; }
  .posts-block-all {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 30px; }
  .posts-item {
    grid-template-columns: repeat(5, 1fr); }
  .post-content {
    grid-column-start: 2;
    grid-column-end: 5; } }

@media screen and (max-width: 700px) {
  .post-content {
    grid-column-start: 2;
    grid-column-end: 6; } }

@media screen and (max-width: 485px) {
  .posts-block {
    padding-bottom: 38px; }
  .posts-block-all {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 28px; }
  .posts-item {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 11px; }
  .post-content {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3; }
  .post-description {
    display: none; }
  .posts-img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; }
  .posts-block-all {
    grid-row-gap: 28px; }
  .post-item-title {
    font-size: 14px; }
  .posts-block-all .posts-item:last-child {
    display: none; } }

.instagram-block {
  background: #f7f7f7;
  padding-top: 47px;
  padding-bottom: 90px; }

.instagram-img-item {
  display: block;
  width: 100%; }

.instagram-block-title {
  display: flex;
  justify-content: space-between;
  margin-right: 4%;
  padding-bottom: 24px; }

.title-style-comment {
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase; }

.instagram-block-img {
  width: 92%;
  margin-left: 4%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px; }

@media screen and (max-width: 996px) {
  .instagram-block-img {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px; }
  .instagram-block-img .instagram-img-item:last-child {
    display: none; } }

@media screen and (max-width: 485px) {
  .instagram-block {
    padding-top: 38px;
    padding-bottom: 42px; }
  .instagram-block-img {
    grid-template-columns: 1fr; }
  .instagram-block-img .instagram-img-item:nth-of-type(1n+2) {
    display: none; }
  .title-style-comment {
    display: none; } }

.footer-block {
  background: #000000;
  padding-top: 66px; }

.footer-title {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #FEFEFE; }

.footer-description {
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  text-align: center;
  color: #B9B9B9; }
