body {
    background-image: url(../img/background.png);
    width: 100%;
    font-family: Roboto;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1023px;
    padding-top: 46px;
}


/* header */

.requisites {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    height: 47px;
    text-decoration: none;
}

.logo-sing {
    background: url(../img/logo/logo.png);
    display: block;
    width: 53px;
    height: 47px;
}

.logo-text-block {
    flex-direction: column;
    margin-left: 8px;
}

.logo-text {
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}


/* .logo-text-small {
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
} */

.text-big {
    font-size: 29px;
    line-height: 29px;
}

.text-small {
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-top: 3px;
}

.contacts {
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.contacts-style {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}


/* main */

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 53px;
    grid-row-gap: 37px;
    margin-top: 17px;
}

.main-content-price {
    position: relative;
    height: 220px;
    overflow: hidden;
}

.content-img {
    width: 300px;
}

.content-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.price {
    position: absolute;
    width: 297px;
    height: 55px;
    left: 2px;
    top: 220px;
    background: #F26522;
    -webkit-transition: 0.4s ease;
}

.price-text {
    position: relative;
    top: 9px;
    left: 16px;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.price-number {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.price-detals-link {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.price-detals-link::after {
    content: url('../img/arrow.png');
    margin-left: 16px;
    width: 5px;
    height: 10px;
}

.price-position {
    width: 258px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;
    margin-left: 16px;
}


/* footer */

.footer-description {
    margin-top: 49px;
    padding-bottom: 15px;
    height: 21px;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}


/* hovers */

.logo:hover .logo-sing {
    background: url(../img/logo/logo-hover.png);
    cursor: pointer;
}

.logo:hover .logo-text {
    color: #F26522;
    cursor: pointer;
}

.main-content-block:hover .content-link {
    color: #F26522;
    cursor: pointer;
}

.main-content-block:hover .price {
    cursor: pointer;
    transform: translateY(-54px);
    transition: 0.4s;
}

.contacts-style:hover {
    color: #F26522;
    cursor: pointer;
}