    body {
        font-family: Roboto;
    }
    
    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1270px;
    }
    
    .title-style {
        color: $fontColorMain;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        margin-left: 4%;
        &-comment {
            font-weight: bold;
            font-size: 13px;
            line-height: 22px;
        }
        &-footer {
            text-align: center;
            color: #FEFEFE;
        }
    }