.footer-block {
    background: #000000;
    padding: 67px 0px 70px;
    // padding-top: 66px;
    // padding-bottom: 70px;
}

.footer-description {
    margin-right: 22%;
    margin-left: 22%;
    margin-top: 22px;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #B9B9B9;
}

.footer-social {
    text-align: center;
}

.footer-copy {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #B9B9B9;
    margin-top: 34px;
}