.header__navigation-new {
    width: 182px;
    position: absolute;
    right: 4%;
    top: 68px;
    display: none;
}

.navigation-item-new {
    display: block;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    padding: 8px 0px 8px 12px;
    width: 100%;
    background-color: #F5F5F5;
    box-sizing: border-box;
    text-decoration: none;
}

.navigation-item-new:hover {
    color: #57A4A4;
    background-color: #E5E5E5;
    cursor: pointer;
}

.btn {
    width: 44px;
    height: 44px;
    background-color: #000000;
    padding: 22px 0px 0px 12px;
    box-sizing: border-box;
    position: absolute;
    right: 4%;
    top: 23px;
}

.btn-open {
    display: none;
}

.btn-close {
    display: none;
    color: #ffffff;
    font-size: 22px;
    padding: 14px 0px 0px 14px;
}

.btn-line {
    width: 16px;
    height: 1px;
    @include lineStyle;
}

.btn-line::after {
    content: "";
    display: block;
    position: relative;
    left: -1px;
    top: 2px;
    width: 16px;
    height: 1px;
    @include lineStyle;
}

.btn-line::before {
    content: "";
    display: block;
    position: relative;
    left: -1px;
    bottom: 7px;
    width: 16px;
    height: 1px;
    @include lineStyle;
}