    .navigation-img {
        background: url("../../dist/img/header-img.png");
        width: 92%;
        margin-left: 4%;
    }
    
    .header__navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 45px 0px 54px;
    }
    
    .navigation-item {
        font-size: 11px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: $fontColorMain;
        text-decoration: none;
        margin: 0px 34px;
    }
    
    .navigation-item:hover {
        color: #57A4A4;
    }