.instagram-block {
    background: #f7f7f7;
    padding-top: 47px;
    padding-bottom: 90px;
}

.instagram-img-item {
    display: block;
    width: 100%;
}

.instagram-block-title {
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
    padding-bottom: 24px;
}

.instagram-block-img {
    width: 92%;
    margin-left: 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}