@media screen and (max-width: 996px) {
    .navigation-item {
        margin-left: 17px;
        margin-right: 17px;
    }
}

@media screen and (max-width: 700px) {
    .navigation-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 485px) {
    .header__navigation {
        display: none;
    }
    .navigation-img {
        margin-top: 83px;
    }
    .btn-open {
        display: block;
    }
}