@media screen and (max-width: 996px) {
    .posts-block {
        padding-top: 56px;
    }
    .posts-block-all {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 30px;
    }
    .posts-item {
        grid-template-columns: repeat(5, 1fr);
    }
    .post-content {
        grid-column-start: 2;
        grid-column-end: 5;
    }
}

@media screen and (max-width: 700px) {
    .post-content {
        grid-column-start: 2;
        grid-column-end: 6;
    }
}

@media screen and (max-width: 485px) {
    .posts-block {
        padding-bottom: 38px;
    }
    .posts-block-all {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 28px;
    }
    .posts-item {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 11px;
    }
    .post-content {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
    }
    .post-description {
        display: none;
    }
    .posts-img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .posts-block-all {
        grid-row-gap: 28px;
    }
    .post-item-title {
        font-size: 14px;
    }
    .posts-block-all .posts-item:last-child {
        display: none;
    }
}