@media screen and (max-width: 996px) {
    .instagram-block-img {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }
    .instagram-block-img .instagram-img-item:last-child {
        display: none;
    }
}

@media screen and (max-width: 485px) {
    .instagram-block {
        padding-top: 38px;
        padding-bottom: 42px;
    }
    .instagram-block-img {
        grid-template-columns: 1fr;
    }
    .instagram-block-img .instagram-img-item:nth-of-type(1n+2) {
        display: none;
    }
    .title-style-comment {
        display: none;
    }
}