@media screen and (max-width: 996px) {
    .footer-description {
        font-size: 14px;
        margin-right: 15%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 700px) {
    .footer-description {
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 485px) {
    .footer-description {
        font-size: 12px;
    }
    .footer-copy {
        margin-right: 10%;
        margin-left: 10%;
    }
}