.posts-block {
    padding-top: 66px;
    padding-bottom: 60px;
}

.posts-block-all {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 92%;
    margin-left: 4%;
}

.posts-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.post-content {
    grid-column-start: 2;
    grid-column-end: 4;
}

.post-item-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}

.post-item-comments {
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
}

.post-description {
    font-size: 13px;
    line-height: 26px;
    color: #5C5C5C;
    margin-top: 13px;
}