     /* Font styles */
     
     @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
     .wrapper {
         margin: 0 auto;
         width: 100%;
         max-width: 1280px;
     }
     /* header style */
     
     .logo {
         width: 334px;
         height: 79px;
         margin-left: 0px;
         margin-top: 61px;
         text-align: center;
     }
     
     .logo-text {
         font-family: Roboto;
         font-size: 80px;
         line-height: 94px;
         text-decoration: none;
         color: #000000;
     }
     
     .logo-color {
         color: #4bcaff;
     }
     
     .logo-text:hover {
         text-decoration: underline;
         text-decoration-color: #4bcaff;
     }
     
     .navigation {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 72px;
         width: 1280px;
         padding: 0px;
         margin-top: 38px;
         background-color: #35444F;
     }
     
     .navigation-button {
         display: flex;
         justify-content: center;
         align-items: center;
         padding-left: 40px;
         padding-right: 40px;
         border-left: 1px solid #FFFFFF;
         height: 72px;
     }
     
     .navigation-button-a {
         font-family: Roboto;
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-decoration: none;
         color: #FFFFFF;
     }
     
     .navigation-button-border-right {
         border-right: 1px solid #FFFFFF;
     }
     
     .navigation-button:hover {
         background-color: #222F3A;
         cursor: pointer;
     }
     /* main style */
     
     .main-content {
         display: flex;
         margin-top: 50px;
         justify-content: space-between;
         align-items: flex-start;
     }
     
     .main-content-menu-nav {
         width: 344px;
         border: 1px solid #000000;
         padding-left: 0px;
         margin-top: 0px;
         overflow: hidden;
     }
     
     .menu-button {
         width: 344px;
         height: 81px;
     }
     
     .menu-button-a {
         width: 344px;
         height: 81px;
         font-family: Roboto;
         font-weight: 400;
         font-size: 27px;
         line-height: 27px;
         margin-left: 44px;
         color: #485863;
         text-decoration: none;
         display: flex;
         align-items: center;
     }
     
     .menu-button:hover {
         background-color: #DBDBDB;
     }
     
     .menu-button-a:hover {
         transform: translate(25px);
         transition: transform 0.5s;
         color: #35444F;
         background-color: #DBDBDB;
         cursor: pointer;
     }
     
     .main-content-img {
         width: 885px;
         height: 529px;
         border: 1px solid #000000;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     
     .main-content-img-symbol {
         width: 320px;
         height: 381px;
     }
     
     img:hover {
         transform: scale(1.1);
         transition: transform 0.5s;
         cursor: pointer;
     }
     
     .main-description {
         width: 885px;
         /* height: 120px; */
         margin-top: 37px;
         position: relative;
         left: 396px;
     }
     
     .description-text {
         font-family: Roboto;
         font-size: 18px;
         line-height: 24px;
         color: #2C2C2C;
     }
     
     .magrin-text {
         margin-top: 37px;
     }
     /* footer style */
     
     .navigation-footer {
         height: 69px;
         width: 1280px;
         margin-top: 54px;
         margin-bottom: 0px;
         background-color: #63696E;
         display: flex;
         justify-content: space-around;
     }
     
     .footer-block {
         height: 69px;
         width: 928px;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     
     .footer-block-copyright {
         width: 190px;
         height: 69px;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     
     .footer-button {
         font-family: Roboto;
         font-size: 28px;
         line-height: 28px;
         display: flex;
         margin-left: 30px;
         margin-bottom: 0px;
         margin-top: 0px;
         color: #0C1927;
         text-decoration: none;
     }
     
     .footer-Copyright {
         font-family: Roboto;
         font-weight: 400;
         font-size: 24px;
         line-height: 24px;
         display: flex;
         align-items: center;
         color: #010101;
     }
     
     .footer-button:hover {
         color: #3181A6;
         text-decoration: underline;
         cursor: pointer;
     }