@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    min-width: 1200px;
    font-family: Montserrat;
    font-style: normal;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1160px;
}


/*  style header */

.accommodation-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    width: 100%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    align-items: center;
}

.head-backgraund {
    background-image: url(./css/Header/mainLiner.png);
    width: 100%;
    background-attachment: fixed;
}

.logo-sing-background {
    display: block;
    width: 58px;
    height: 67px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
    position: relative;
}

.logo-sing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
}

.logo-text {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    margin-left: 6px;
    text-decoration: none;
}

.text-color {
    color: #18CFAB;
}

.logo {
    display: flex;
    align-items: center;
}

.navigation-button {
    display: flex;
    align-items: center;
}

.navigation-button-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-left: 21px;
}

.navigation-button-link:hover {
    padding-bottom: 50px;
    border-bottom: 3px solid #18CFAB;
    color: #18CFAB;
}

.navigation-search {
    display: block;
    margin-left: 21px;
}

.title-style {
    text-align: center;
    color: #FFFFFF;
}

.title-ham {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 264px;
}

.title-creative {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    margin-top: 22px;
}

.title-enjoy {
    font-weight: normal;
    font-size: 34px;
    color: #D4D4D4;
    margin-top: 22px;
}

.header-button-block {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 134px;
    padding-bottom: 243px;
    width: 364px;
    display: flex;
    justify-content: space-between;
}

.button-style-blue-color {
    display: block;
    width: 169px;
    height: 63px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    border-radius: 7px;
    text-decoration: none;
    padding-top: 15px;
    background-color: #00CBF6;
    box-sizing: border-box;
}

.button-style-all {
    display: block;
    width: 169px;
    height: 63px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    border-radius: 7px;
    text-decoration: none;
    padding-top: 15px;
    background-color: #18CFAB;
    box-sizing: border-box;
}

.button-style-shadow {
    box-shadow: 0px -5px 0px rgb(255, 255, 255);
}


/* main-block */


/* customization-block */

.customization-block {
    display: flex;
    position: relative;
}

.customization-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 232px;
    margin-bottom: 110px;
}

.customization-size {
    width: 25%;
    position: relative;
    border-top: 8px solid #FFFFFF;
}

.customization-size:nth-child(odd) {
    color: #18CFAB;
    background: #1C2A33;
}

.customization-size:nth-child(even) {
    color: #FFFFFF;
    background: #18CFAB;
}

.customization-icon {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* servises-block */

.servises-block {
    padding-top: 83px;
    padding-bottom: 91px;
}

.title-text-main {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.title-text-main:after {
    content: url('./css/servises/shape.svg');
    position: relative;
    right: 14%;
    top: 34px;
}

.title-text-main::before {
    content: url('./css/servises/shape.svg');
    position: relative;
    left: 14%;
    top: 38px;
}

.tabs {
    display: flex;
    margin-top: 101px;
}

.tabs-title {
    width: 192px;
    height: 72px;
    font-size: 16px;
    line-height: 39px;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    cursor: pointer;
}

.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.tabs-title:hover {
    border: 1px solid #18CFAB;
}

.tabs-content {
    margin-top: 28px;
}

.description {
    display: flex;
}

.servises-img {
    display: block;
    width: 192px;
}

.servises-text {
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    margin-left: 15px;
}

.description {
    display: none;
}

.active-two {
    display: flex;
}


/*  implement-block-style */

.implement-block {
    background-image: url(./css/implement/implementBackground.png);
    width: 100%;
    padding-top: 126px;
    padding-bottom: 127px;
}

.title-implement {
    text-align: center;
}

.title-first {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.title-second {
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
}

.implement-button {
    position: relative;
    top: 67px;
    left: 50%;
    transform: translate(-50%, 0);
}


/* amazing-work-block  */

.amazing-work-block {
    background: #E9EDEF;
    padding-top: 95px;
    padding-bottom: 130px;
}

.title-amazing-work {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.title-amazing-work:after {
    content: url('./css/servises/shape.svg');
    position: relative;
    right: 20%;
    top: 34px;
}

.title-amazing-work::before {
    content: url('./css/servises/shape.svg');
    position: relative;
    left: 20%;
    top: 38px;
}

.amazing-tabs {
    display: flex;
    justify-content: center;
    margin-top: 97px;
    margin-bottom: 71px;
}

.amazing-tabs-title {
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    padding: 16px;
}

.amazing-tabs-title:hover {
    cursor: pointer;
}

.active-amazing {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.amazing-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.wrapper-new {
    margin: 0 auto;
    width: 100%;
    max-width: 1128px;
}

.amazing-portfolio {
    width: 285px;
    position: relative;
    transition: 5s ease;
}

.img-size {
    display: block;
    width: 100%;
}

.hide {
    display: none;
}

.button-style-load {
    background: #18CFAB;
    border: none;
    border-radius: 5px;
    width: 168px;
    height: 63px;
    font-size: 14px;
    line-height: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-style-load::before {
    content: '+';
    position: relative;
    font-size: 30px;
    color: #FFFFFF;
    top: 8%;
    right: 5%;
}

.button-style-load:hover {
    cursor: pointer;
}

.amazing-portfolio:hover .amazing-hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.amazing-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #E9EDEF;
    border-top: 8px solid #18CFAB;
    padding-top: 42px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.3s linear;
}

.amazing-hover-sings-block {
    display: flex;
    justify-content: center;
}

.hover-sings-one {
    width: 41px;
    height: 41px;
    border: 2px solid #18CFAB;
    border-radius: 50%;
}

.hover-sings-one:hover .hover-sings-one-share {
    fill: white;
    cursor: pointer;
}

.hover-sings-one:hover {
    background-color: #18CFAB;
    cursor: pointer;
}

.hover-sings-two:hover .hover-sings-square {
    background-color: #FFFFFF;
    cursor: pointer;
}

.hover-sings-two:hover {
    background-color: #18CFAB;
    cursor: pointer;
}

.hover-sings-two {
    width: 41px;
    height: 41px;
    border: 2px solid #18CFAB;
    border-radius: 50%;
}

.hover-sings-square {
    width: 12px;
    height: 11px;
    background: #18CFAB;
    margin-top: 14.5px;
    margin-left: 14.5px;
}

.hover-sings-one-share {
    margin-top: 13px;
    margin-left: 13px;
}

.amazing-hover-text {
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    margin-top: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.amazing-hover-text-two {
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    margin-top: 3px;
    text-align: center;
    color: #8A8A8A;
}


/* breaking-news-block  */

.breaking-news-block {
    padding-top: 80px;
}

.breaking-news-block-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 43px;
    padding-top: 100px;
    padding-bottom: 156px;
}

.title-breaking-work {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.title-breaking-work:after {
    content: url('./css/servises/shape.svg');
    position: relative;
    right: 16%;
    top: 34px;
}

.title-breaking-work:before {
    content: url('./css/servises/shape.svg');
    position: relative;
    left: 16%;
    top: 38px;
}

.breaking-post {
    width: 263px;
    position: relative;
}

.breaking-post-img {
    display: block;
}

.breaking-post-title-background {
    background-color: #F8FCFE;
    border: 1px solid #F2F4F5;
    padding-bottom: 15px;
}

.breaking-post-title {
    font-weight: bold;
    font-size: 17.9885px;
    margin-top: 15px;
    margin-left: 15px;
    color: #717171;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
}

.breaking-post-comment {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    margin-top: 19px;
    margin-left: 15px;
    text-decoration: none;
}

.post-comment-admin {
    display: inline;
    margin-right: 30px;
}

.post-comment-admin::after {
    content: '|';
    position: relative;
    left: 15px;
}

.breaking-data {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 70px;
    background-color: #203E38;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    transition: visibility 0s linear 0.5s, opacity 0.3s linear;
    -webkit-transition: 0.5s ease;
}

.data-title-munth {
    margin-top: 5px;
}

.breaking-post:hover .breaking-data {
    background-color: #18CFAB;
    transition: 0.3s;
}

.breaking-post:hover .breaking-post-title {
    color: #18CFAB;
    transition: 0.3s;
}

.breaking-post:hover {
    cursor: pointer;
}


/* slider-block */

.slider-block {
    background-image: url(./css/slider/backgroundImg.png);
    padding-top: 98px;
    padding-bottom: 700px;
}

.title-slider-block {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.title-slider-block:after {
    content: url('./css/servises/shape.svg');
    position: relative;
    right: 30%;
    top: 34px;
}

.title-slider-block:before {
    content: url('./css/servises/shape.svg');
    position: relative;
    left: 30%;
    top: 38px;
}

.slider-item-img {
    position: relative;
    top: 99px;
    left: 50%;
    transform: translate(-50%, 0);
}

.slider-item-desciption {
    margin-top: 135px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}

.slider-item-name {
    margin-top: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.slider-item-name-title {
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #BBBBBB;
}

.slider-item-foto {
    width: 143px;
    height: 143px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: 12px solid rgba(31, 218, 181, 0.2);
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.slider-blocks-all {
    position: relative;
}

.slider-block-item {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.slider-block-item-active {
    display: block;
}


/* slider-buttons */

.carusel-slider {
    display: flex;
    justify-content: center;
    width: 100%;
}

.slider-buttoms-block {
    display: flex;
    justify-content: center;
    position: relative;
    top: 550px;
}

.slider-container {
    position: absolute;
    width: 408px;
    overflow: hidden;
}

.buttom-foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    mix-blend-mode: normal;
    margin: 15px;
    border: 6px solid rgba(31, 218, 181, 0.2);
}

.buttom-foto.buttom-foto-active {
    transform: scale(1.2);
}

.slider-buttom {
    position: absolute;
    width: 31px;
    height: 31px;
    color: #BBBBBB;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #BBBBBB;
    cursor: pointer;
}

#prevBtn {
    top: 35px;
    left: 250px;
}

#nextBtn {
    top: 35px;
    right: 250px;
}

.buttom-foto:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.footer-text {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #AEAEAE;
}

.footer-block {
    width: 100%;
    background-color: #22353F;
    padding-top: 47px;
    padding-bottom: 47px;
}