.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-style {
    width: 198px;
    height: 40px;
    text-align: center;
    background-color: #ffc0cb;
    cursor: pointer;
}

.button-style:focus {
    background-color: #ff1493
}