/* Font styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}

body {
    width: 100%;
}

.navigation {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    margin-top: 0px;
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 178px;
    height: 70px;
    margin-left: 27px;
}

.logo-text {
    height: 26px;
    width: 124px;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.logo-sing {
    width: 27px;
    height: 27px;
}

.navigation-batton {
    width: 722px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-batton-link {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.navigation-search {
    width: 68px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.navigation-batton-link:hover {
    color: #14B9D5;
    cursor: pointer;
}

.design-architecture {
    background-image: url(../img/header-background.jpg);
    width: 100%;
    height: 369px;
    background-attachment: fixed;
}

.design-architecture-name {
    padding-top: 164px;
    font-family: Open Sans;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.design-architecture-div {
    display: flex;
    justify-content: center;
}

.design-architecture-button {
    width: 360px;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}

.design-architecture-button-link {
    width: 170px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.button-green {
    background-color: #89CA62;
}

.button-blue {
    background-color: #14B9D5;
}

.button-green:hover {
    cursor: pointer;
}

.button-blue:hover {
    cursor: pointer;
}

.button-font {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.popular-posts {
    background-color: #F2F2F2;
    padding-top: 49px;
    padding-bottom: 72px;
}

.title-fonts {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.popular-posts-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 52px;
}

.popular-posts-column {
    width: 370px;
}

.popular-posts-text {
    height: 65px;
    background-color: #FFFFFF;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353A3D;
}

.link-decoration {
    text-decoration: none;
    color: #353A3D;
}

.popular-posts-text:hover {
    background-color: #14B9D5;
    cursor: pointer;
}

.popular-posts-margin {
    margin-top: 31px;
}

.popular-clients {
    background-image: url(../img/parallax-bg.jpeg);
    width: 100%;
    height: 588px;
    background-attachment: fixed;
    background-size: auto;
    padding-top: 106px;
}

.popular-clients-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.popular-clients-line {
    width: 60px;
    height: 3px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 87px;
    background: #18B4CF;
}

.popular-clients-logo {
    width: 881px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 106px;
}

.clients-logo-link:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s;
}

.top-rated {
    width: 100%;
    padding-top: 49px;
    overflow: hidden;
}

.top-rated-block {
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 190px;
}

.top-rated-img {
    min-width: 100px;
    display: block;
}

.hot-news {
    padding-top: 47px;
}

.hot-news-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 259px 418px 418px 259px;
    grid-column-gap: 60px;
    grid-row-gap: 45px;
    margin-top: 52px;
}

.hot-news-blocks-horizon {
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
}

.blocks-horizon-description {
    background-color: #F9F7F7;
    padding-top: 41px;
    padding-right: 21px;
}

.blocks-horizon-title {
    width: 350px;
    margin-right: 0px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
}

.blocks-horizon-text {
    width: 350px;
    margin-top: 14px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}

.hot-news-blocks-small {
    width: 277px;
    height: 259px;
    background-color: #F9F7F7;
    margin-top: 0px;
}

.blocks-small-description {
    height: 48px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-top: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #353A3D;
}

.hot-news-blocks-big {
    width: 554px;
    height: 418;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
}

.hot-news-blocks-big-two {
    width: 554px;
    height: 418;
}

.big-colunm-left {
    grid-column-start: 1;
    grid-column-end: 3;
}

.big-colunm-right {
    grid-column-start: 3;
    grid-column-end: 5;
}

.blocks-big-description {
    height: 157px;
    background-color: #F9F7F7;
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 14px;
}

.blocks-big-title {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
}

.blocks-big-text {
    width: 527px;
    margin-top: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}

.hot-news-blocks-horizon-two {
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 5;
    margin-left: -20px;
}

.hot-news-title-link {
    text-decoration: none;
    color: #5B6469;
}

.hot-news-title-link:hover {
    color: #14B9D5;
    cursor: pointer;
}

.footer-block {
    width: 100%;
    height: 80px;
    background-color: #000000;
    margin-top: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: Open Sans;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.footer-img {
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-left: 559px;
}

.img-height {
    height: 16px;
}